@page
@model YanLoadingTracker.Pages.Loads.EditModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Нагрузка</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>
            <input type="hidden"
                   asp-for="@Model.Load.IdTeacher"/>
            <input type="hidden"
                   asp-for="@Model.Load.IdDiscipline"/>

            <input type="hidden"
                   asp-for="@Model.Load.IdType"/>


            <div class="form-group">
                <select asp-for="Load.IdTeacher"
                        asp-items="ViewBag.IdTeacher"
                        class="form-control">
                </select>
            </div>


            <div class="form-group">
                <select class="form-control"
                        asp-for="Load.IdType"
                        asp-items="ViewBag.IdType">
                </select>
            </div>

            <div class="form-group">
                <select class="form-control"
                        asp-for="Load.IdDiscipline"
                        asp-items="ViewBag.IdDiscipline">
                </select>
            </div>


            <div class="form-group">
                <input type="submit"
                       value="Save"
                       class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}